@media(max-width:1300px) {
    .main-layout {
        display: grid;
        grid-template-columns: 100px minmax(700px, 1fr) 100px;
        background-color: var(--clr2);
    }
}

@media(max-width:1150px) {
    .main-layout {
        display: flex;
        flex-direction: column;
        background-color: var(--clr2);
    }

    .meme-editor {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        margin-inline-start: 350px;

    }

    .display-none {
        display: none;
    }

    .meme-gallery {
        margin-inline-start: 50px;
    }

    .control-box.emojy-select {

        margin-bottom: 10px;


    }

    .control-box .text-input {

        margin-bottom: 5px;

    }

    .colors-input {
        margin-inline-start: 18px;
        width: 25px;
        height: 40px;
    }

    .first-set-of-tools {
        margin-bottom: 20px;
        padding: 0;

    }

    .second-set-of-tools {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

    }

    .third-set-of-tools {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }


}

@media(max-width:970px) {
    .meme-editor {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        margin-inline-start: 100px;

    }

    .display-none {
        display: none;
    }
}

@media(max-width:650px) {
    .meme-editor {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        margin-inline-start: 0px;

    }

    .main-header .nav-bar {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 1;
        background-color: #ffa500e8;
        border-inline-start: 1px solid gray;
        box-shadow: 1px 2px 2px 8px #d3d3d391;
        translate: 100%;
        transition: translate, .6s;

    }

    .menu-open {
        translate: 0%;
    }


    .main-menu {
        flex-direction: column;

        align-items: center;
        position: relative;
        top: 120px;
    }

    .btn-menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 24px;
        width: 50px;
        height: 50px;
        font-size: 42px;
        text-align: center;
        background-color: transparent;
        border: none;
    }

    .main-menu>* {
        margin-bottom: 25px;
        border-bottom: 2px solid gray;
        font-size: 1.3em;
        text-align: center;
        width: 100%;
    }

    .logo-container {
        position: absolute;
        top: 30px;

    }

    .logo {
        margin-inline-start: 0px;
    }

    .meme-gallery {
        margin-inline-start: 0px;
    }

    .display-none {
        display: none;
    }

    .control-box {

        margin-inline-start: 0px;
    }

    .gallery-image {
        width: 164px;
        height: 163px;
    }
}