.main-layout {
    display: grid;
    grid-template-columns: minmax(130px, 1fr) minmax(1000px, 1fr) minmax(130px, 1fr)
}

.main-header {
    grid-column: 1/-1;
}
.main-header .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .main-menu{
    display: flex;
    list-style-type: none;
}
.meme-editor {
    grid-column: 2;
    display: flex;
}

.control-box {
    margin-inline-start: 50px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
}

.canvas-container {
    position: relative;
    background-color: rgb(235, 130, 18);

}

.main-footer {
    grid-column: 1/-1;
    background-color: red;
    height: 150px;

}

.meme-gallery {
    /* display: none; */
    grid-column: 2;
    max-width: 1050px;
 
}

.meme-gallery .imgs-container {
    display: flex;
    flex-wrap: wrap;
}

.gallery-image-container {

    margin-inline-start: 15px;

    /* object-fit: contain; */
}

.gallery-image {
    width: 200px;
    height: 200px;
}
.display-none{
    display:none
}