
.display-txt.top{
position: absolute;
top: 50px;

color: aliceblue;
font-size: 20px;
text-align: center;
width: 550px;

}
.display-txt.battom{
    position: absolute;
top: 500px;
width: 510px;
color: aliceblue;
font-size: 20px;

}
